@charset "UTF-8";
/* -------------------------------------
//   2018/04/20
// -----------------------------------*/
@media screen and (max-width: 2px) {
  section#header::before {
    z-index: 10; }
  section#header.with-banner::before {
    z-index: 1000; }
  section.header-spacer.with-banner-k {
    height: 91px; }
  section.header-spacer.with-banner.with-banner-k {
    height: 151px; }
  /* ----- K金版位 ----- */
  #header .just-padding {
    padding: .1em; }
  .scrolling-down + .owl-carousel {
    margin-top: -60px; }
  .neko .qa-item i.data-symbol {
    opacity: 1; }
  .owl-item .is-regular {
    white-space: nowrap; }
  .button {
    border: none; }
    .button.button-disable {
      background: #999;
      -webkit-box-shadow: none;
      box-shadow: none; }
  /* ------ header-blank-d.html ------ */
  section#header header nav .hb-logo {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-left: 5px; }
  .extra-link {
    margin-left: auto;
    -ms-flex-item-align: center;
    align-self: center; }
    .extra-link a {
      color: #333;
      font-weight: 400;
      padding: .6rem 1rem;
      border-left: 1px solid rgba(0, 0, 0, 0.1); }
  .social-group {
    -ms-flex-item-align: center;
    align-self: center;
    height: 40px;
    margin-right: 5px; }
    .social-group div {
      display: inline-block;
      height: 40px;
      margin-right: 5px; }
    .social-group .fb-share img {
      width: 40px;
      height: 40px; }
  .card-wrapper:hover {
    text-decoration: none; }
  /* ----- /edm/extra.html ----- */
  .video-container-m {
    position: relative;
    background-image: url("/home/eshop/img/clip_frame_m.png");
    background-size: cover; }
    .video-container-m::before {
      content: '';
      display: block;
      padding-top: 142.35%; }
    .video-container-m .embed-responsive {
      position: absolute;
      top: 44.5%;
      padding: 0 9%; }
      .video-container-m .embed-responsive::before {
        padding-top: 75%; }
      .video-container-m .embed-responsive .embed-responsive-item {
        position: absolute;
        top: 0;
        width: 82%;
        height: 100%;
        border: 0; }
  .embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden; }
    .embed-responsive::before {
      content: '';
      display: block; }
  /* ----- others/questionnaire.2.html ----- */
  /* ----- 問卷 ----- */
  .quest-sat__title {
    height: 0;
    max-width: 22rem;
    margin: 50px auto 0;
    padding-bottom: 24%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url(/home/eshop/img/questionnaire/radio-title.png) no-repeat center top;
    background-size: contain; }
  .quest-sat__radio-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 2em;
    margin: 25px auto 25%;
    width: 100%;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }
    .quest-sat__radio-group::before {
      content: '';
      display: block;
      position: absolute;
      height: 0;
      width: 100%;
      padding-top: 20%;
      top: 0;
      background: url(/home/eshop/img/questionnaire/radio-bg.png) no-repeat center top;
      background-size: contain; }
    .quest-sat__radio-group [type="radio"] {
      display: none; }
  .quest-sat__label {
    display: block;
    position: relative;
    height: 100%;
    padding-top: 20%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    border: 3px solid transparent;
    cursor: pointer; }
    [type="radio"]:checked + .quest-sat__label {
      border-color: #ff7f25; }
  .quest-sat__checkmark {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    background-clip: content-box; }
    [for="quest-sat-0"] .quest-sat__checkmark, [for="quest-sat-1"] .quest-sat__checkmark, [for="quest-sat-2"] .quest-sat__checkmark {
      color: black;
      background-color: #a2a19f; }
    [for="quest-sat-3"] .quest-sat__checkmark, [for="quest-sat-4"] .quest-sat__checkmark, [for="quest-sat-5"] .quest-sat__checkmark {
      background-color: #488037; }
    [for="quest-sat-6"] .quest-sat__checkmark, [for="quest-sat-7"] .quest-sat__checkmark, [for="quest-sat-8"] .quest-sat__checkmark {
      background-color: #2a679d; }
    [for="quest-sat-9"] .quest-sat__checkmark, [for="quest-sat-10"] .quest-sat__checkmark {
      background-color: #b65020; }
  .quest-sat__mark {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .quest-sat__ngtv, .quest-sat__pstv {
    height: 2rem;
    width: auto;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden; }
  .quest-sat__ngtv {
    background: url(/home/eshop/img/questionnaire/radio-ngtv.png) no-repeat;
    background-size: contain; }
  .quest-sat__pstv {
    background: url(/home/eshop/img/questionnaire/radio-pstv.png) no-repeat;
    background-size: contain; }
  .quest-sat__aprec8 {
    margin-top: 10%; }
  /* ------ 光世代可供裝速率查詢 ------ */
  .compare-bar-chart .chart-unit .is-3 {
    margin-top: 1.5em; }
  /* ------ fancybox 內容修正 ------ */
  .lightbox .button {
    margin-right: 0; } }

@media screen and (min-width: 3px) {
  header nav {
    padding-top: 20px; }
  /* ----- 彩色裝飾條 ----- */
  section#header::before {
    z-index: 10; }
  section#header.with-banner::before {
    top: 70px; }
  section.header-spacer.with-banner-k {
    height: 91px; }
  section.header-spacer.with-banner.with-banner-k {
    height: 151px; }
  /* ----- 黃金版位 ----- */
  .banner.banner-black {
    background: #222; }
    .banner.banner-black .banner-text {
      color: #4ec1e7; }
  .banner .container {
    line-height: 1;
    width: auto;
    max-width: 100%; }
    .banner .container:hover {
      text-decoration: none; }
  .banner .banner-img {
    min-height: 70px;
    max-height: 70px; }
  .banner > .close-banner {
    display: inline-block;
    height: 1.3em;
    width: 1.3em;
    top: 20px;
    text-align: center;
    line-height: 1.2;
    border-radius: 50%; }
  .neko .qa-item i.data-symbol {
    opacity: 1; }
  .button {
    border: none; }
    .button.button-disable {
      background: #999;
      -webkit-box-shadow: none;
      box-shadow: none; }
      .button.button-disable:hover {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }
  /* ----- K金版位 ----- */
  #header .owl-carousel .just-padding {
    padding: .1em; }
  #header .owl-carousel .h5:hover {
    text-decoration: none; }
  .owl-item .is-regular {
    white-space: nowrap; }
  /* ------ product-list-d.html ------ */
  .card-wrapper:hover {
    text-decoration: none; }
  .card.product .card-img {
    padding-top: 2.5rem; }
  .card-list .card-img + .card-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%; }
    .card-list .card-img + .card-text > .content-center {
      margin-top: auto; }
  .cht-banner {
    background-position: center 20%;
    min-height: 400px; }
  /* ------ header-blank-d.html ------ */
  .extra-link {
    margin-left: auto;
    -ms-flex-item-align: center;
    align-self: center; }
    .extra-link a {
      font-weight: 400;
      padding: .6rem 1rem;
      border-left: 1px solid rgba(0, 0, 0, 0.1); }
  .social-group {
    -ms-flex-item-align: center;
    align-self: center; }
    .social-group div {
      display: inline-block;
      height: 40px;
      margin-right: 5px; }
    .social-group .fb-share img {
      width: 40px;
      height: 40px; }
  /* ----- Campaign/extra.html ----- */
  .neko a.neko-link {
    color: #333;
    width: 100%;
    /* ----- 商品詳細頁 ----- */
    /* ----- http://eshop.esi-tech.net/consumer/landline/international/idd-002-009 ----- */ }
    .neko a.neko-link:hover {
      color: #209cff;
      text-decoration: none; }
    .neko a.neko-link:hover .lazyload {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05); }
    .neko a.neko-link .card-inside {
      background-size: cover;
      min-height: 550px;
      background-position: center 20%; }
  /* ---- 商品介紹過長網址斷行 --- */
  #div_SenaoDetail {
    word-break: break-all; }
  /* ----- others/questionnaire.2.html ----- */
  /* ----- 問卷 ----- */
  .quest-sat__title {
    height: 0;
    max-width: 22rem;
    margin: 50px auto 0;
    padding-bottom: 16%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url(/home/eshop/img/questionnaire/radio-title.png) no-repeat center top;
    background-size: contain; }
  .quest-sat__radio-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 160px;
    margin: 25px auto 20px;
    width: 100%;
    background: url(/home/eshop/img/questionnaire/radio-bg.png) no-repeat center top;
    background-size: contain; }
    .quest-sat__radio-group [type="radio"] {
      display: none; }
  .quest-sat__label {
    display: block;
    position: relative;
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    border: 3px solid transparent;
    cursor: pointer; }
    [type="radio"]:checked + .quest-sat__label {
      border-color: #ff7f25; }
  .quest-sat__checkmark {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    background-clip: content-box; }
    [for="quest-sat-0"] .quest-sat__checkmark, [for="quest-sat-1"] .quest-sat__checkmark, [for="quest-sat-2"] .quest-sat__checkmark {
      color: black;
      background-color: #a2a19f; }
    [for="quest-sat-3"] .quest-sat__checkmark, [for="quest-sat-4"] .quest-sat__checkmark, [for="quest-sat-5"] .quest-sat__checkmark {
      background-color: #488037; }
    [for="quest-sat-6"] .quest-sat__checkmark, [for="quest-sat-7"] .quest-sat__checkmark, [for="quest-sat-8"] .quest-sat__checkmark {
      background-color: #2a679d; }
    [for="quest-sat-9"] .quest-sat__checkmark, [for="quest-sat-10"] .quest-sat__checkmark {
      background-color: #b65020; }
  .quest-sat__mark {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .quest-sat__ngtv, .quest-sat__pstv {
    height: 2rem;
    width: auto;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden; }
  .quest-sat__ngtv {
    background: url(/home/eshop/img/questionnaire/radio-ngtv.png) no-repeat;
    background-size: contain; }
  .quest-sat__pstv {
    background: url(/home/eshop/img/questionnaire/radio-pstv.png) no-repeat;
    background-size: contain; }
  .quest-sat__aprec8 {
    max-width: 600px;
    margin-top: 25px; } }

div.card-action.top-left.badge-hover {
    position: absolute;
    padding-top: 1rem;
    padding-left: 7px;
}