@charset "UTF-8";      
.vas-package-promote, .vas-service-category {padding: 0.4rem 0;}
.vas-package-promote .form-custom-radio label, .vas-service-category .form-custom-radio label{font-size: 0.8rem;}
.vas-product {padding: 1rem 1.6rem 0 1.6rem; margin-bottom: 1rem; border: 1px solid #ccc; border-radius: 12px; word-break: break-all; text-align: justify;}
.vas-product .vas-product-content {padding: 0; padding-bottom: 1rem;}
.vas-product .vas-product-content h2 {font-size: 1.6rem; margin-bottom: 0.8rem; display: flex; align-items: center;}
.vas-product .vas-product-content h2 .vas-product-title {max-width: 70%; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; display: -webkit-box;}
.vas-product .vas-product-content h2 img {margin-right: 1.3rem; width: 80px; height: 80px; vertical-align: middle;}
.vas-product .vas-product-content.cht-list-item .cht-item-info-content {height: auto;}
.vas-product .vas-product-content .description {font-weight: normal; color: #333;}
.vas-product-pkg-list {background: #f5f5f5; padding: 1rem 0.6rem; margin: 0 -1.6rem; border-radius: 0 0 12px 12px;}
.vas-product-pkg-list .slider-section {width: 100%; padding-bottom: 0;}
.vas-product-pkg-list .nekos {margin: 0;}
.vas-product-pkg-list .nekos .neko {padding: 0;}
.vas-product-pkg-list .nekos .neko .card {box-shadow: 0rem 0rem 0.3rem rgba(0, 0, 0, 0.15);}
.vas-product-pkg-list .nekos .neko .card:hover {box-shadow: 0rem 0rem 0.6rem rgba(0, 0, 0, 0.45);}
.vas-product-pkg .nekos .h2 {font-size: 1.4rem; font-weight: bold; line-height: 1;}
.vas-product-pkg .nekos .h2 sub {font-size: 0.8rem; vertical-align: baseline;}
.vas-product-pkg .button {padding: 0.6em 1.8rem;}
.vas-product-pkg .button.button-white:hover {background: #209cff; color: #fff; box-shadow: none;}
#modal-select-pkg {min-width: 380px; width: 380px; padding: 1rem;}
#modal-select-pkg h3 {padding-right: 1rem;}
#modal-select-pkg ul.modal-vas-select-pkg {list-style: none; margin: 0; padding: 0; font-size: 0.8rem; font-weight: normal;}
#modal-select-pkg ul.modal-vas-select-pkg li {margin-bottom: 4px;}
#modal-select-pkg label[data-cht-radio] input~i.data-symbol, #modal-select-pkg label[data-cht-radio] input:checked~i.data-symbol {background-size: contain; margin: 8px;}
.fancybox-slide>.lightbox#modal-select-pkg button.fancybox-close-small {margin-right: 15px; margin-top: 15px;}