// color ------------------------------------------------------------------------------------------
$mainColor:#73947C;
$mainColor-dark:#BCDDC5;
$label:#efe6d5;


// 覆蓋bootstrap顏色變數
$primary: $mainColor;
// $info:$secoundColor;
// $success: $garssGreen;
// $secondary: $cancle;
// $danger: $baseOrange;
// $warning:$yellow;
// $light:$lightGrey;

