@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	padding:0;
	margin:0;
	border:none;
	font:normal 16px/25px 'Noto Sans TC', "微軟正黑體", 'Arial Unicode MS', "sans-serif";
	color:#434343;
}
body{ width:100%; height:100%; background-color: #f8f8f8;}
table{ border-collapse: collapse; border-spacing:0;}
ul, li{ list-style:none;}
h1, h2, h3, h4, h5, h6{ font-weight:normal; font-size:100%;}
a { text-decoration:none;}
img {border:0; margin:0; padding:0; width:100%; display:block;}

input[type="button"] {
    -webkit-appearance: none;  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
    -moz-appearance: none;     /* FireFox */
    appearance: none;
}

.fL{float:left;}
.fR{float:right;}
.tL{text-align:left}
.tR{text-align:right}
.tC{text-align:center}
.tB{ font-weight:bold;}
.clr{clear:both;}
.web{ display:block;}
.mobile{ display:none;}
.red{ color: #e61616;}
.red_b{ color: #e61616;font-weight:bold;}


/* view footer 設定 */
.view_footer{
	background-color: rgb(241, 241, 241);
	position: sticky;
	bottom: 0;
}
.view_footer .info{
	color: rgb(80, 163, 224);
}
.view_footer .info a{
	color: rgb(80, 163, 224);
	text-decoration: underline;
}
/*頁面設定*/
.fullpage{ width: 100%; min-width: 1000px;}
.fullpage .applyButton { display: none; }
.fullpage.wh{ background-color: #fff;}
.fullpage.org{ background-color: #fd8204; padding: 35px 0;}
.pagesize{ width:1000px; margin:0 auto; padding: 0 10px; box-sizing:border-box;}
.main{ min-height: calc(100vh - 250px); padding-bottom: 30px; box-sizing: border-box;}


/*header*/
.header{ width: 1100px; height: 80px; margin: 0 auto; padding: 25px 10px 0 270px; text-align: right; position: relative; box-sizing: border-box;} 
h1{ width: 252px; height: 40px; position: absolute; top: 20px; left: 10px; background: url(../images/logo.png) no-repeat; background-size: auto 40px;}
h1 a{ width: 100%; height: 100%; display: block;}
ul.webMenu{ }
/*ul.webMenu li{ padding: 0 20px; height: 30px; line-height: 30px; display:inline-flex; position: relative; transition:all 0.3s;}*/
ul.webMenu li{ padding: 0 10px; height: 30px; line-height: 30px; display:inline-flex; position: relative; transition:all 0.3s;}
ul.webMenu li a{ position: absolute; top: 0; bottom: 0; left: 0; right: 0;}
ul.webMenu li::after{ content: ""; width: 1px; height: 15px; background-color: #000; position: absolute; right: 0; top:8px;}
ul.webMenu li:last-child::after{ display: none;}
ul.webMenu li:hover, ul.webMenu li.on{ color: #fd8204;}

ul.webMenu li .layer_2nd{ width: 140px; padding:10px 20px; box-sizing: border-box; background-color: #fff; text-align: left; border-top: 3px solid #fd8204; -moz-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.2); -webkit-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.2); box-shadow:0px 0px 5px 0px rgba(0,0,0,0.2); position: absolute; top: 45px; left: 50%; margin-left: -70px; z-index: 10; opacity: 0; transition:all 0.3s;}
ul.webMenu li .layer_2nd::before{ content: ""; width: 0;  height: 0;  border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 6px solid #fd8204; position: absolute; top:-9px; left:50%; margin-left: -3px;}
ul.webMenu li .layer_2nd li{ padding: 5px 0; display: block; color: #acacac; height: inherit; line-height: 20px;}
ul.webMenu li .layer_2nd li:hover, ul.webMenu li .layer_2nd li.on{ color: #222;}
ul.webMenu li .layer_2nd li::after{ width: 0;}
ul.webMenu li:hover .layer_2nd{ top: 35px;  opacity: 1;}

/*topView*/
.topView{ height:615px; position: relative;}
.topView .pic{ width: 100%; height: 500px; background: url(../img/top_view.jpg) center center no-repeat; background-size: cover;}
.topView .txtArea{ width: 1000px; height: 615px; position: absolute; top:0; left:50%; margin-left: -500px;}
.txtArea .title{ position: absolute; top:176px; left: 10px;}
.txtArea .product{ position: absolute; bottom: 0; right: 0;}
.txtArea .icon_down{ width: 40px; height: 18px; position: absolute; top: 450px; left: 50%; margin-left: -20px; background: url(../images/icon_down.png) no-repeat;}

/*topView_mother*/
.topView_mother{ height:1000px; position: relative;}
.topView_mother .pic{ width: 100%; height: 1000px; background: url(../img/mother.jpg) center center no-repeat; background-size: cover;}
.topView_mother .txtArea{ width: 1000px; height: 615px; position: absolute; top:0; left:50%; margin-left: -500px;}
.txtArea_mother .title{ position: absolute; top:176px; left: 10px;}
.txtArea_mother .product{ position: absolute; bottom: 0; right: 0;}
.txtArea_mother .icon_down{ width: 40px; height: 18px; position: absolute; top: 450px; left: 50%; margin-left: -20px; background: url(../images/icon_down.png) no-repeat;}

/*title*/
.title_org{ position: relative; text-align: center; margin-bottom: 40px; box-sizing: border-box;}
.title_org span{ padding: 0 5px; min-width: 250px; height: 50px;  background-color: #f8f8f8; color: #fff; text-align: center; font-size: 30px; line-height: 50px; letter-spacing:5px; display: inline-block; box-sizing: border-box;border-left:1px solid #f59c1e;border-right:1px solid #f59c1e;color:#000;}
.title_org span span{padding: 0 5px;border-left:1px solid #f59c1e;border-right:1px solid #f59c1e; }
.title_org span::before{ content: ""; height: 1px; background-color: #f59c1e; position: absolute; left:0; right: 0; top: 25px; z-index: -1;}
.title_org span::after{ content: ""; width: 250px; height: 27px; /*background: url(../images/title_org_bg.png) no-repeat;*/ position: absolute; top: 50px; left: 50%; margin-left: -125px;}

.title_org .subtitle{ padding-top: 10px; text-align: center; font-size: 20px; font-weight: 200; color: #797979; }
/*google map span */
.title_map{ position: relative; text-align: center; margin-bottom: 40px; box-sizing: border-box;height: 600px;}


.title_org .subtitle{ padding-top: 10px; text-align: center; font-size: 20px; font-weight: 200; color: #797979; }

.title_org2{ height: 50px; background: url(../images/title_tag_bg.png) left center no-repeat; background-size: auto 50px; line-height: 50px; padding-left: 16px; margin-bottom: 10px;}

.title_line{ border-top: 1px solid #d6d6d6; padding: 15px; margin-bottom: 5px; text-align: center; color: #222; font-weight: bold; font-size: 25px; letter-spacing: 2px;}

/*index stage*/
.stage{ padding-bottom: 80px;}

/*videoZone*/
.videoZone{ width: 785px; height: 442px; margin: 0 auto; -moz-box-shadow:0px 8px 20px 0px rgba(0,0,0,0.7); -webkit-box-shadow:0px 8px 20px 0px rgba(0,0,0,0.7); box-shadow:0px 8px 20px 0px rgba(0,0,0,0.7); background-color: #000;}

/*特色*/
ul.feature{ display:flex; justify-content:space-between; }
ul.feature li{ width: 300px; padding-top: 60px; position: relative;}
ul.feature li .hat{ width: 100%; height: 60px; line-height: 60px; font-size: 25px; color: #fff; text-align: center; position: absolute; top:0; left: 0;}
ul.feature li .hat.pink{ background: #e63d6d;}
ul.feature li .hat.blue{ background: #1cb3f2;}
ul.feature li .hat.green{ background: #7cb60b;}
ul.feature .picBox{ width: 270px; -moz-box-shadow:0px 0px 10px 0px rgba(0,0,0,0.3); -webkit-box-shadow:0px 0px 10px 0px rgba(0,0,0,0.3); box-shadow:0px 0px 10px 0px rgba(0,0,0,0.3); background-color: #fff; margin: 0 auto;}
ul.feature .picBox .pic{ height: 270px;}
ul.feature .picBox .pic img{ width: auto; height: 100%;}
ul.feature .picBox .txt{ padding: 20px; color: #757575; box-sizing: border-box;}

/*情境圖*/
ul.situation{display:flex; flex-wrap:wrap; margin-bottom: 80px;}
ul.situation li{ width: 50%; position: relative;}
ul.situation li img{ width: 100%; height: auto;}
ul.situation li .txt{ height: 80px; color: #616161; font-size: 28px; font-weight: 500; line-height: 40px; letter-spacing:5px; position: absolute; top:50%; margin-top: -40px; left: 30px;}
ul.situation li:nth-child(2n+1) .txt{ text-align: right; left: 0; right: 30px;}

/*app list*/
.app_list{ display:flex; flex-wrap:wrap; justify-content:center; }
.app_list li{ width: 120px;  margin: 0 10px; margin-bottom: 30px;}
.app_list li .pic{ width: 120px; height: 120px; border: 1px solid #e4e4e4; border-radius: 20px; overflow: hidden; margin-bottom: 15px;}
.app_list li .pic img{ width: 100%; height: 100%;}
.app_list li p{ text-align: center; color: #222;}

/*download*/
.dowload_area{ width: 100%; height: 350px; background: url(../images/download_bg.png) bottom repeat-x; position: relative;}
.dowload_area .download_set{ width: 660px; height: 350px; position: absolute; bottom: 0; left:50%; margin-left: -330px; background: url(../images/download_bg2.png) no-repeat;}
.download_set a.btn_ios{ width: 145px;  height: 45px; position: absolute; top: 187px; left: 303px;}
.download_set a.btn_and{ width: 145px;  height: 45px; position: absolute; top: 187px; right: 14px;}

/*download for app */
.dowload_area .download_set_app{ width: 660px; height: 350px; position: absolute; bottom: 0; left:50%; margin-left: -330px; background: url(../images/download_bg2_app.png) no-repeat;}
.download_set_app a.btn_ios_app{ width: 145px;  height: 120px; position: absolute; top: 80px; left: 303px;}
.download_set_app a.btn_and_app{ width: 145px;  height: 120px; position: absolute; top: 80px; right: 14px;}

/*footer*/
.footer{ background:url(../images/footer_bg.jpg) repeat-x; background-color: #eee; padding: 60px 0 20px 0; box-sizing: border-box;}
.footer_in{ width: 1000px; padding: 0 10px; text-align: center; margin: 0 auto; box-sizing: border-box;}
.footer_in p{ font-size: 14px; line-height: 20px; letter-spacing: 2px; color: #8a8a8a;}
.footer_in p.link{ margin-bottom: 30px; color: #666;}
.footer_in a{ color: #8a8a8a; transition:all 0.3s;}
.footer_in p.link a{ color: #666;}
.footer_in a:hover, .footer_in p.link a:hover{ color: #222; text-decoration: underline;}

/*goTop*/
.btn_goTop{ width: 70px; height: 70px; padding-top: 25px; box-sizing: border-box; background: url(../images/btn_goTop_bg.png) center 18px no-repeat;  background-size: 18px auto; background-color: rgba(0, 120, 219, 0.8); border-radius: 99em; text-align: center; color: #fff; position: fixed; bottom: 90px; right: 60px;  transition:all 0.3s; opacity: 0;}
.btn_goTop a{ position: absolute; top: 0; bottom: 0; left: 0; right: 0;}
.btn_goTop:hover{ background-color: rgba(0, 120, 219, 0.95);}
.btn_goTop.show{ bottom: 120px; opacity: 1;}

/*buy*/
.buy{ font-size: 30px;width: 160px; height: 160px; padding-top: 70px;z-index: 9999; position: fixed; right: 20px; bottom: 200px; border-radius: 99em;box-sizing: border-box;  background: url(../images/btn_gobuy.png) center no-repeat;background-size: 170px auto; background-color: #f59c1e; opacity: 0.9;text-align: center;color: #000;}
.buy a{ position: absolute; top: 0; bottom: 0; left: 0; right: 0;}
.buy:hover{ background-color: #f79100;}
.buy.show{ bottom: 120px; opacity: 1;}

/*pop*/
.pop_overlay{ position:fixed; top:0; bottom:0; left:0; right:0; background-color: rgba(0, 0, 0, 0.7); z-index: 1000; display: none;}
.pop_box{ width: 500px; height: auto; background-color: #222; border-radius: 20px; position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); overflow: hidden; display: none;}
.pop_head{ height: 80px; background-color: #fd8204; text-align: center; color: #fff; font-size: 25px; line-height: 80px;}
.pop_head a.btn_close{ width: 25px; height: 25px; background: url(../images/btn_close_bg.png) no-repeat; position: absolute; top:26px; left:32px; cursor: pointer;}
.pop_in{ padding: 25px 40px; text-align: center;}
.pop_in .txtBox{ width: 100%; max-height: 350px;  overflow: hidden;}
.pop_in .txtBox ul{ }
.pop_in .txtBox li{ color: #fff; margin-bottom: 5px;}
.pop_overlay.show{ display:block;}
.pop_box.show{ display:block;}

/*smartlife table*/
.smartlife_table{width: 100%;height: 100%}
table.smartlife_table tr .smartlife_table_td{width: 20%;border: 1px solid #d6d6d6;padding: 1%}
table.smartlife_table tr .smartlife_table_div{width: 120px;height: 120px;overflow: hidden;display: inline-flex;vertical-align: middle;float: middle;}

/*lottery*/
.mother_div{min-width: 80% max-width: 80%;height: 600px; margin: 0 auto; background: rgb(241, 241, 241);}
.mother_iframe{position: absolute;width:90%; height:95%;left: 5%;top: 5%;}
.mother_top_img{width: 100%; height: 800px;background: url(../img/mother.jpg);background-size:100% 100%;}
.mother_img_div{width: 100%;
			    /*height: 750px;*/
			    max-width:  100%;
			    display:  table;
			    /*background-color: #FBE1D0;*/
			    background: #fff;
			    
			}
.mother_img{display:table-cell;
		    vertical-align:middle;
		    text-align:center;
			background:url(../img/mother.jpg)center no-repeat;
			background-size:100%} 
.fbox {
	position: fixed;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	opacity: 0;
}
.navbar.on {
	position: fixed;
	top: 0;
	background: #fff;
	width:100%;
	margin:0 auto;
	display: flex;
	z-index: 654;
	box-shadow: #ddd 3px 6px 8px;
}

.navbar{
	
	width:100%;
	background: #fff;
	box-shadow: #ddd 3px 6px 8px;
}
.navbar ul{
width:53%;
	margin:.5rem auto;
	display: flex;
	justify-content: space-around;
}
.navbar ul li{
	text-align: center;
	margin:1.2rem;
	font-size: 1.2rem;
	max-width:20%;
}
.navbar ul li a{
	color: #000;
}
/*#mother_div_1{position: relative;width: 80%;height: 500px;left: 10%;top: 100%;}*/
#mother_div_2{position: relative;width: 80%; height:1100px;left: 10%;}
#mother_div_3{position: relative;width: 80%;height: 800px;left: 10%;top: 400px;}
/*#mother_div_4{position: relative;width: 80%;height: 600px;left: 10%;top: 1150px;}*/
#mother_div_5{position: relative;max-width: 1500px;margin: 0 auto; height: 2300px;top: 900px;}
#mother_div_6{position: relative;width: 100%;height: 150px;top: 960px;}
#mother_div_7{position: relative;width: 100%;height: 30px;top: 900px}

/*活動內容*/
.mother_box_1{position: absolute; width: 30%;height: 570px; left: 0%; top: 150px; background: #C04C4D; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); border-radius: 10px;overflow:auto;}
.mother_box_2{position: absolute; width: 30%;height: 570px; left: 34%; top: 150px; background: #4C2D68; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); border-radius: 10px;overflow:auto;}
.mother_box_3{position: absolute; width: 30%;height: 570px; left: 68%; top: 150px; background: #4C2D68; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); border-radius: 10px;overflow:auto;}
.mother_box_4{position: absolute; width: 30%;height: 570px; left: 68%; top: 150px; background: #C04C4D; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); border-radius: 10px;overflow:auto;}
.mother_box_1_1{position: absolute;width: 90%;height: 410px;left: 5%;top: 25%;background: #ffdedf;border-radius: 10px; text-align: center;overflow:auto;}
.mother_box_2_1{position: absolute;width: 90%;height: 410px;left: 5%;top: 25%;background: #e0d1ed;border-radius: 10px; text-align: center;overflow:auto;}
.mother_box_3_1{position: absolute;width: 90%;height: 200px;left: 5%;top: 25%;background: #e0d1ed;border-radius: 10px; text-align: center;overflow:auto;}
.mother_box_4_1{position: absolute;width: 90%;height: 410px;left: 5%;top: 25%;background: #ffdedf;border-radius: 10px; text-align: left;overflow:auto;}
.mother_box_1_txt{position: absolute;/*left: 5%; top: 20px;*/font-size: 30px;line-height: 30px;font-family: Microsoft JhengHei;font-style: normal;font-weight: bold;color: #FFFFFF}
.mother_box_1_1_txt{position: absolute;font-family: Microsoft JhengHei;font-style: normal;font-weight: normal;font-size: 150%;line-height: 33px;width: 90%;left: 5%;top: 10%;}
.mother_button1{color:#FFFFFF; font-family: Microsoft JhengHei;height: 60%; min-width: 20%;font-size: 20px;font-weight:bold;border-radius: 10px; background:#f59c1e; border:2px #f59c1e solid; padding:1% 1%;box-shadow:3px 3px 6px #808080;}
.mother_button2{color:#f59c1e; font-family: Microsoft JhengHei;height: 60%; min-width: 20%;font-size: 20px;font-weight:bold;border-radius: 10px; background:#FFFFFF; border:2px #f59c1e solid; padding:1% 1%;box-shadow:3px 3px 6px #808080;}

/*好禮第一抽*/
.mother_box_5{position: absolute; width: 80%;height: 1400px; left: 10%; top: 100px; background: #E37174; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); border-radius: 10px;overflow:auto;}
.mother_box_5_1{position: absolute;width: 90%;height: 140px;left: 5%;top: 30px;background: #ffdedf;border-radius: 10px;overflow:auto;}
.mother_box_5_2{position: absolute;width: 90%;height: 150px;left: 5%;top: 190px;background: #ffdedf;border-radius: 10px;overflow:auto;}
.mother_box_5_3{position: absolute;width: 90%;height: 980px;left: 5%;top: 370px;background: #ffdedf;border-radius: 10px;overflow:auto;}
.mother_box_5_1_txt{position: absolute;font-family: Microsoft JhengHei;font-style: normal;font-weight: normal;font-size: 150%;line-height: 33px;width: 90%;left: 5%;top: 5%;}
.mother_box_5_2_txt{position: absolute;font-family: Microsoft JhengHei;font-style: normal;font-weight: normal;font-size: 150%;line-height: 40px;width: 90%;left: 5%;top: 5%;}
.mother_td_bottom{border-bottom:1px solid;font-size: 24px;line-height: 33px;font-family: Microsoft JhengHei;font-style: normal;font-weight: normal;}
.mother_td{font-size: 23px;line-height: 33px;font-family: Microsoft JhengHei;font-style: normal;font-weight: normal;}

/*好禮第二抽*/
.mother_box_6{position: absolute; width: 80%;height: 1250px; left: 10%; top: 100px; background: #D39693; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); border-radius: 10px;overflow:auto;}
.mother_box_6_1{position: absolute;width: 90%;height: 150px;left: 5%;top: 30px;background: #ffdedf;border-radius: 10px;overflow:auto;}
.mother_box_6_2{position: absolute;width: 90%;height: 140px;left: 5%;top: 200px;background: #ffdedf;border-radius: 10px;overflow:auto;}
.mother_box_6_3{position: absolute;width: 90%;height: 860px;left: 5%;top: 360px;background: #ffdedf;border-radius: 10px;overflow:auto;}
.mother_box_6_1_txt{position: absolute;font-family: Microsoft JhengHei;font-style: normal;font-weight: normal;font-size: 150%;line-height: 33px;width: 90%;left: 5%;top: 5%;}
.mother_box_6_2_txt{position: absolute;font-family: Microsoft JhengHei;font-style: normal;font-weight: normal;font-size: 150%;line-height: 40px;width: 90%;left: 5%;top: 5%;}

/*award ami*/
.slider_container {
    margin: 20px auto;
    width: 90%;
    /*height: 280px;*/
    position: relative;
}
.slider_container div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}
.slider_container div {
    -webkit-animation: round 12s linear infinite;
            animation: round 12s linear infinite;
}
@-webkit-keyframes round {
    8% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0-1秒 淡入*/
    }
    24% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1-3秒靜止*/
    }
    32% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 3-4秒淡出*/
    }
}
@keyframes round {
    8% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0-1秒 淡入*/
    }
    24% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1-3秒靜止*/
    }
    32% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 3-4秒淡出*/
    }
}
.slider_container div:nth-child(4) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}
.slider_container div:nth-child(3) {
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
}
.slider_container div:nth-child(2) {
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
}
.slider_container div:nth-child(1) {
    -webkit-animation-delay: 9s;
            animation-delay: 9s;
}
.slider_container:hover div {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}

/*登 入 抽 獎 資 訊*/
.mother_box_7{position: absolute; width: 80%;height: 500px; left: 10%; top: 100px; background: #E37174; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); border-radius: 10px;}
.mother_box_7_1{position: absolute;width: 90%;height: 450px;left: 5%;top: 5%;background: #ebbebf;border-radius: 10px;}
.mother_lottery_th_font{color: #444444;font-family: Microsoft JhengHei;font-style: normal;font-weight: normal;font-size: 25px;line-height: 29px;text-align: justify;}
.input_box{height: 60%; width: 60%; padding:1%;}
.mother_lottery_checkbox_label{font-family: Microsoft JhengHei;font-size: 20px;}
.mother_lottery_submit{color:#FFFFFF; font-family: Microsoft JhengHei;height: 70%; min-width: 20%;font-size: 25px;border-radius: 10px; background:#f59c1e; border:0; padding:1% 1%; cursor:pointer}
.mother_lottery_ok{position: absolute;top: 45%;left: 35%;font-family: Microsoft JhengHei;font-style: normal;font-weight: normal;font-size: 50px;line-height: 50px;text-align:center;}

/*抽 獎 注 意 事 項*/
.mother_box_8{position: absolute; width: 80%;height: 2200px; left: 10%; top: 100px; background: #4C2D68; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); border-radius: 10px;overflow:auto;}
/*.mother_box_8{position: relative; max-width: 1500px;height: 2200px; top: 100px; background: #4C2D68; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); border-radius: 10px;}*/
.mother_box_8_1{position: absolute;width: 95%;height: 2110px;left: 2.5%;top: 2.5%;background: #e0d1ed;border-radius: 10px;overflow:auto;}
/*.mother_box_8_1{position: relative;max-width: 95%;height: 2110px;left: 2.5%;top: 2.5%;background: #e0d1ed;border-radius: 10px;}*/
.mother_box_8_1_txt{position: absolute;font-family: Microsoft JhengHei;font-style: normal;font-weight: normal;font-size: 150%;line-height: 33px;width: 90%;left: 7%;top: 0.5%;}


/*web_store*/
.div_img{width: 1280px;height: 1752px;margin:0px auto;}
#b {
    display: none;
  }

/*fm_page*/
#tab{
background: #f59c1e;
}
/* 頁籤ul */
#tab>ul{
overflow: hidden;
margin: 0;
padding: 10px 20px 0 20px;
}
#tab>ul>li{
list-style-type: none;
}
#tab>ul>li>a{
text-decoration: none;
font-size: 13px;
color: #333;
float: left;
padding: 10px;
margin-left: 5px;
}

/*頁籤div內容*/
#tab>div {
clear:both;
padding:0 15px;
height:0;
overflow:hidden;
visibility:hidden;
/*-webkit-transition:all .4s ease-in-out;
-moz-transition:all .4s ease-in-out;
-ms-transition:all .4s ease-in-out;
-o-transition:all .4s ease-in-out;
transition:all .4s ease-in-out;*/
}

/* span:target */
#tab-1:target,
#tab-2:target,
#tab-3:target,
#tab-4:target,
#tab-5:target,
#tab-6:target,
#tab-7:target{
/*border: solid 1px red;*/
}

/*第一筆的底色*/
span:target ~ #tab > ul li:first-child a {
background:#f59c1e;
}
span:target ~ #tab > div:first-of-type {
visibility:hidden;
height:0;
padding:0 15px;
}

/*頁籤變換&第一筆*/
span ~ #tab > ul li:first-child a,
#tab-1:target ~ #tab > ul li a[href$="#tab-1"],
#tab-2:target ~ #tab > ul li a[href$="#tab-2"],
#tab-3:target ~ #tab > ul li a[href$="#tab-3"],
#tab-4:target ~ #tab > ul li a[href$="#tab-4"],
#tab-5:target ~ #tab > ul li a[href$="#tab-5"],
#tab-6:target ~ #tab > ul li a[href$="#tab-6"], 
#tab-7:target ~ #tab > ul li a[href$="#tab-7"]{
background: #fff;
}

/*頁籤內容顯示&第一筆*/
span ~ #tab > div:first-of-type,
#tab-1:target ~ #tab > div.tab-content-1,
#tab-2:target ~ #tab > div.tab-content-2,
#tab-3:target ~ #tab > div.tab-content-3,
#tab-4:target ~ #tab > div.tab-content-4, 
#tab-5:target ~ #tab > div.tab-content-5, 
#tab-6:target ~ #tab > div.tab-content-6, 
#tab-7:target ~ #tab > div.tab-content-7 {
visibility:visible;
height:100%;
background: #fff;
}
/*---------------for 小網---------------*/
@media screen and (max-width: 603px){

.web{ display:none;}
.mobile{ display:block;}

/*頁面設定*/
.fullpage{ min-width:inherit;}
.fullpage .applyButton {
    background-color: rgb(2, 99, 187);
    color: white;
    display: inline-block;
    margin: 0.8rem 1rem;
    padding: 0.1rem 1rem;
    border-radius: 0.5rem;
	font-size: 0.85rem; 
}
.pagesize{ width:100%; padding: 0 10px;}
.main{ padding-bottom: 10px; min-height: calc(100vh - 215px);}
	
/*header*/
.header{ width: 100%; height: 50px; padding: 0; background-color: rgba(255, 255, 255, 0.95); position: fixed; z-index: 100; -moz-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.2); -webkit-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.2); box-shadow:0px 0px 5px 0px rgba(0,0,0,0.2);}
h1{ width: 158px; height: 25px; top: 50%; left: 50%; margin-left: -79px; margin-top: -12px;  background: url(../images/logo.png) no-repeat; background-size: auto 25px;}
ul.webMenu{ display: none;}
	
.menu-btn { position: absolute; top: 15px; left: 10px;}
.opemenu { display: inline-block; width: 20px; height: 20px; }
.opemenu a { display: block; height: 20px; background: url(../images/icon_topmenu.png) center center no-repeat; background-size: 20px auto;}
	
/*topView*/
.topView{ height:460px; padding-top: 50px;}
.topView .pic{ width: 100%; height: 350px; background: url(../img/top_view.jpg) center center no-repeat; background-size: cover;}
.topView .txtArea{ width: 100%; height: 450px; position: absolute; top:0; left:0; margin-left: 0;}
.txtArea .title{ top:125px; left: 0;}
.txtArea .product{ width: 280px; height: 251px; position: absolute; top:250px; right: 0;}
.txtArea .product img{ width:100%; height: auto;}
.txtArea .icon_down{ width: 20px; height: 9px; position: absolute; top:330px; margin-left: -10px; background-size: 20px auto;}
	
/*topView_mother*/
.topView_mother{ height:670px; padding-top: 100px;}
.topView_mother .pic{ width: 100%; height: 670px; background: url(../img/mother.jpg) center center no-repeat; background-size: cover;}
.topView_mother .txtArea{ width: 100%; height: 450px; position: absolute; top:0; left:0; margin-left: 0;}
.txtArea_mother .title{ top:125px; left: 0;}
.txtArea_mother .product{ width: 280px; height: 251px; position: absolute; top:250px; right: 0;}
.txtArea_mother .product img{ width:100%; height: auto;}
.txtArea_mother .icon_down{ width: 20px; height: 9px; position: absolute; top:330px; margin-left: -10px; background-size: 20px auto;}

/*title*/
.title { line-height: normal; }
.title_org{ margin-bottom: 25px;}
/*
.title_org span{ padding: 0 15px; min-width: 250px;height: 45px; font-size: 18px; line-height: 45px; letter-spacing: 0px; }
.title_org span::after{ width:120px;top: 45px; background-position: top center; background-size: 180px auto;}
*/
.title_org span{ padding: 0 5px; min-width: 100px; height: 45px;  background-color: #f8f8f8; color: #fff; text-align: center; font-size: 30px; line-height: 50px; letter-spacing:0px; display: inline-block; box-sizing: border-box;border-left:1px solid #f59c1e;border-right:1px solid #f59c1e;color:#000;}
.title_org span span{padding: 0 15px;border-left:1px solid #f59c1e;border-right:1px solid #f59c1e; }
.title_org span::before{ content: ""; height: 1px; background-color: #f59c1e; position: absolute; left:0; right: 0; top: 25px; z-index: -1;}
.title_org span::after{ content: ""; width: 250px; height: 27px; /*background: url(../images/title_org_bg.png) no-repeat;*/ position: absolute; top: 50px; left: 50%; margin-left: -125px;}

.title_org .subtitle{ padding-top: 5px; font-size: 18px; }
	
.title_org2{ height: 40px; background-size: auto 40px; line-height: 40px; padding-left: 12px; margin-bottom: 5px;}
	
.title_line{ padding: 10px; font-size: 18px; }
	
/*index stage*/
.stage{ padding-bottom: 40px;}
	
/*videoZone*/
.videoZone{ width: 100%; height:auto; margin: 0 auto; -moz-box-shadow:0px 5px 10px 0px rgba(0,0,0,0.7); -webkit-box-shadow:0px 5px 10px 0px rgba(0,0,0,0.7); box-shadow:0px 5px 10px 0px rgba(0,0,0,0.7); }

/*特色*/
ul.feature{ justify-content:space-between; flex-wrap:wrap;}
ul.feature li{ width: 100%; margin-bottom: 20px;}
ul.feature li .hat{ width: 100%; height: 60px; line-height: 60px; font-size: 20px; position: absolute; top:0; left: 0;}
ul.feature .picBox{ width: 100%; height: 150px; -moz-box-shadow:0px 0px 10px 0px rgba(0,0,0,0.3); -webkit-box-shadow:0px 0px 10px 0px rgba(0,0,0,0.3); box-shadow:0px 0px 10px 0px rgba(0,0,0,0.3); background-color: #fff; margin: 0 auto; display: flex; align-items:center;}
ul.feature .picBox .pic{ height: 150px; }
ul.feature .picBox .txt{ padding:0 10px; }

/*情境圖*/
ul.situation{ flex-wrap:wrap; margin-bottom: 40px;}
ul.situation li{ width: 100%; height: auto;  position: inherit;}
ul.situation li .txt{ width: 100%; height: auto; font-size: 18px; font-weight: normal; line-height: 25px; letter-spacing:2px; top:inherit; margin-top: 0; left: inherit; position: inherit; padding: 20px 10px; box-sizing: border-box;}
ul.situation li:nth-child(2n+1) .txt{  text-align: left; left: inherit; right: inherit;}
ul.situation .order1{ order: 1;}
ul.situation .order2{ order: 2;}
ul.situation .order3{ order: 3;}
ul.situation .order4{ order: 4;}
ul.situation .order5{ order: 5;}
ul.situation .order6{ order: 6;}
ul.situation .order7{ order: 7;}
ul.situation .order8{ order: 8;}
ul.situation .order9{ order: 9;}
ul.situation .order10{ order: 10;}
ul.situation .order11{ order: 11;}
ul.situation .order12{ order: 12;}
ul.situation .order13{ order: 13;}
ul.situation .order14{ order: 14;}
	
/*app list*/
.app_list{ justify-content: space-between; }
.app_list li{ width: 80px;  margin: 0 10px; margin-bottom: 15px;}
.app_list li .pic{ width: 80px; height: 80px; border-radius: 15px; margin-bottom: 5px;}
.app_list li p{ line-height: 20px;}

/*download*/
.dowload_area{ height: auto; background: url(../images/download_bg_m.png) bottom repeat-x; background-size: auto 100%;}
.dowload_area .download_set{ width: 100%; height: 100%; position:inherit; top: 0; left:0; margin-left: 0; background: none; /*background:url(../images/download_bg2_m.png) center top no-repeat; background-size: 100% auto;*/}
.download_set a.btn_ios{ width: 50%;  height: 50%; position: absolute; top: 0; left: 0;}
.download_set a.btn_and{ width: 50%;  height: 50%; position: absolute; top: 0; right: 0;}

/*download for app */
.dowload_area .download_set_app{ width: 100%; height: 100%; position:inherit; top: 0; left:0; margin-left: 0; background: none; /*background:url(../images/download_bg2_m.png) center top no-repeat; background-size: 100% auto;*/}
.download_set_app a.btn_ios_app{ width: 50%;  height: 20%; position: absolute; top: 33%; left: 0;}
.download_set_app a.btn_and_app{ width: 50%;  height: 20%; position: absolute; top: 33%; right: 0;}
	
/*footer*/
.footer{ padding: 50px 0 10px 0;}
.footer_in{ width: 100%;}
.footer_in p.link{ margin-bottom: 15px;}

/*goTop*/
.btn_goTop{ width: 60px; height: 60px; padding-top: 20px; background-position: center 15px; bottom: 20px;right: 40px;}	
.btn_goTop.show{ bottom: 50px;}

/*buy*/
.buy{ font-size: 15px;width: 60px; height: 60px; padding-top: 20px;z-index: 9999; position: fixed; right: 40px; bottom: 120px; border-radius: 99em;box-sizing: border-box;  background: url(../images/btn_gobuy.png) center no-repeat;background-size: 170px auto; background-color: #f59c1e;opacity:0.8; text-align: center;color: #fff;}
.buy a{ position: absolute; top: 0; bottom: 0; left: 0; right: 0;}
.buy:hover{ background-color: #f79100;}
.buy.show{ bottom: 120px; opacity: 1;}

.pop_box{ width: 90%; border-radius: 10px;}
.pop_head{ height: 50px; font-size: 20px; line-height: 50px;}
.pop_head a.btn_close{ width: 15px; height: 15px; background-size: auto 15px; position: absolute; top:18px; left:18px;}
.pop_in{ padding: 20px 10px;}
.pop_in .txtBox{ max-height: 300px; }
.pop_in .txtBox li{ font-size: 15px; line-height: 20px;}

/*smartlife table*/
.smartlife_table{width: 100%;height: 100%}
table.smartlife_table tr .smartlife_table_td{width: 20%;border: 1px solid #d6d6d6;padding: 1%}
table.smartlife_table tr .smartlife_table_div{width: 60px;height: 60px;overflow: hidden;display: inline-flex;vertical-align: middle;float: middle;}

/*lottery*/
.mother_div{min-width: 80% max-width: 80%;height: 600px; margin: 0 auto; background: rgb(241, 241, 241);}
.mother_iframe{width:95%; height:90%;}	
.mother_top_img{position: relative;width: 100%; height: 800px;top: 50px;background: url(../img/mother_m.jpg);background-size:cover;}
.mother_img_div{position: relative;
				width: 100%;
			    height: 810px;
			    top: 45px;
			    display:  table;
			    background-color: #f8f8f8;}
.mother_img{display:table-cell;
		    text-align:top;
			background-size:100%} 
.fbox {
	position: fixed;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	opacity: 0;
}
.navbar.on {
	position: fixed;
	top: 0;
	background: #fff;
	width:100%;
	margin:0 auto;
	display: flex;
	z-index: 654;
	box-shadow: #ddd 3px 6px 8px;
}
.navbar.on ul{
	padding-top:0rem;
}
.navbar{
	
	width:100%;
	background: #fff;
}
.navbar ul{
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	justify-content: left;
      width: auto;
	display: flex;
	padding-top:2.5rem;
}
.navbar ul li{
	text-align: center;
	font-size: 1rem;
	flex: 0 0 auto;
	white-space: nowrap;
	margin:1rem;
	padding:0 1rem;
	
}
.navbar ul li a{
	color: #000;
}

/*#mother_div_1{position: relative;width: 80%;height: 500px;left: 10%;top: 10px}*/
#mother_div_2{position: relative;width: 80%;height:1100px;left: 10%;top: 10px;}
#mother_div_3{position: relative;width: 80%;height: 650px;left: 10%;top: 550px;}
/*#mother_div_4{position: relative;width: 80%;height: 550px;left: 10%;top: 1430px;}*/
#mother_div_5{position: relative;width: 80%;height: 1000px;left: 0%;top: 700px;}
#mother_div_6{position: relative;width: 100%;height: 190px;top: 4650px;}
#mother_div_7{position: relative;width: 100%;height: 30px;top: 4650px}

/*活動內容*/
.mother_box_1{position: absolute; width: 100%;height: 300px; left: 0%; top: 100px; background: #C04C4D; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); border-radius: 10px;overflow:auto;}
.mother_box_2{position: absolute; width: 100%;height: 450px; left: 0%; top: 420px; background: #4C2D68; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); border-radius: 10px;overflow:auto;}
.mother_box_3{position: absolute; width: 100%;height: 200px; left: 0%; top: 540px; background: #4C2D68; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); border-radius: 10px;overflow:auto;}
.mother_box_4{position: absolute; width: 100%;height: 300px; left: 0%; top: 900px; background: #C04C4D; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); border-radius: 10px;overflow:auto;}
.mother_box_1_1{position: absolute;width: 90%;height: 200px;left: 5%;top: 25%;background: #ffdedf;border-radius: 10px; text-align: center;overflow:auto;}
.mother_box_2_1{position: absolute;width: 90%;height: 300px;left: 5%;top: 25%;background: #e0d1ed;border-radius: 10px; text-align: center;overflow:auto;}
.mother_box_3_1{position: absolute;width: 90%;height: 130px;left: 5%;top: 25%;background: #e0d1ed;border-radius: 10px; text-align: center;overflow:auto;}
.mother_box_4_1{position: absolute;width: 90%;height: 200px;left: 5%;top: 25%;background: #ffdedf;border-radius: 10px; text-align: left;overflow:auto;}
.mother_box_1_txt{position: absolute;left: 28px; top: 0px;font-size: 25px;line-height: 25px;font-family: Microsoft JhengHei;font-style: normal;font-weight: bold;color: #FFFFFF}
.mother_box_1_1_txt{position: absolute;font-family: Microsoft JhengHei;font-style: normal;font-weight: normal;font-size: 20px;line-height: 33px;width: 90%;left: 5%;top: 3.5%;}
.mother_button1{color:#FFFFFF; font-family: Microsoft JhengHei;height: 60%; min-width: 20%;font-size: 20px;border-radius: 10px; background:#f59c1e; border:0; padding:1% 1%;}
.mother_button2{color:#FFFFFF; font-family: Microsoft JhengHei;height: 60%; min-width: 20%;font-size: 20px;border-radius: 10px; background:#f59c1e; border:0; padding:1% 1%;}

/*好禮第一抽*/
.mother_box_5{position: absolute; width: 100%;height: 1550px; left: 0%; top: 100px; background: #E37174; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); border-radius: 10px;overflow:auto;}
.mother_box_5_1{position: absolute;width: 90%;height: 220px;left: 5%;top: 25px;background: #ffdedf;border-radius: 10px;overflow:auto;}
.mother_box_5_2{position: absolute;width: 90%;height: 120px;left: 5%;top: 260px;background: #ffdedf;border-radius: 10px;overflow:auto;}
.mother_box_5_3{position: absolute;width: 90%;height: 1120px;left: 5%;top: 400px;background: #ffdedf;border-radius: 10px;overflow:auto;}
.mother_box_5_1_txt{position: absolute;font-family: Microsoft JhengHei;font-style: normal;font-weight: normal;font-size: 20px;line-height: 25px;width: 90%;left: 5%;top: 3.5%;}
.mother_td_bottom{border-bottom:1px solid;font-size: 18px;line-height: 25px;font-family: Microsoft JhengHei;font-style: normal;font-weight: normal; text-align: center;}
.mother_td{font-size: 18px;line-height: 25px;font-family: Microsoft JhengHei;font-style: normal;font-weight: normal;}

/*好禮第二抽*/
.mother_box_6{position: absolute; width: 100%;height: 730px; left: 0%; top: 100px; background: #D39693; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); border-radius: 10px;overflow:auto;}
.mother_box_6_1{position: absolute;width: 90%;height: 200px;left: 5%;top: 25px;background: #ffdedf;border-radius: 10px;overflow:auto;}
.mother_box_6_2{position: absolute;width: 90%;height: 90px;left: 5%;top: 250px;background: #ffdedf;border-radius: 10px;overflow:auto;}
.mother_box_6_3{position: absolute;width: 90%;height: 330px;left: 5%;top: 370px;background: #ffdedf;border-radius: 10px;overflow:auto;}
.mother_box_6_1_txt{position: absolute;font-family: Microsoft JhengHei;font-style: normal;font-weight: normal;font-size: 20px;line-height: 25px;width: 90%;left: 5%;top: 3.5%;}

/*登 入 抽 獎 資 訊*/
.mother_box_7{position: absolute; width: 100%;height: 550px; left: 0%; top: 100px; background: #E37174; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); border-radius: 10px;}
.mother_box_7_1{position: absolute;width: 90%;height: 500px;left: 5%;top: 5%;background: #ebbebf;border-radius: 10px;}
.mother_lottery_th_font{color: #444444;font-family: Microsoft JhengHei;font-style: normal;font-weight: normal;font-size: 15px;line-height: 20px;text-align: left;}
.input_box{word-wrap:break-word; word-break:normal;height: 40px; width: 90%; padding:1%;}
.mother_lottery_checkbox_label{font-family: Microsoft JhengHei;font-size: 15px;}
.mother_lottery_submit{color:#FFFFFF; font-family: Microsoft JhengHei;height: 70%; min-width: 20%;font-size: 15px;border-radius: 10px; background:#f59c1e; border:0; padding:3% 5%; cursor:pointer}
.mother_lottery_ok{position: absolute;top: 45%;left: 5%;font-family: Microsoft JhengHei;font-style: normal;font-weight: normal;font-size: 50px;line-height: 50px;text-align:center;}

/*抽 獎 注 意 事 項*/
.mother_box_8{position: absolute; width: 100%;height: 465%; left: 0%; top: 100px; background: #4C2D68; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); border-radius: 10px;overflow:auto;}
.mother_box_8_1{position: absolute;width: 90%;height: 99%;left: 5%;top: 25px;background: #e0d1ed;border-radius: 10px;overflow:auto;}
.mother_box_8_1_txt{position: absolute;font-family: Microsoft JhengHei;font-style: normal;font-weight: normal;font-size: 15px;line-height: 0.5px;width: 88%;left: 12%;top: 0%;}


/*web_store*/
.div_img{width: 100%;height: 100%}
#a {
    display: none;
  }
#b {
    display: block;
  }
  
}/*@media screen and (max-width: 603px)*/

