@media all {
	.featherlight {
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2147483647;
		text-align: center;
		white-space: nowrap;
		cursor: pointer;
		background: #333;
		background: rgba(0,0,0,0);
	}

	.featherlight:last-of-type {
		background: rgba(0,0,0,0.65);
	}

	.featherlight:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	.featherlight .featherlight-content {
		position: relative;
		text-align: left;
		vertical-align: middle;
		display: inline-block;
		overflow: auto;
		padding: 25px 25px 0;
		/* border-bottom: 25px solid transparent; */
		/* border:3px solid #4d7484; */
		margin-left: 10%;
		margin-right: 10%;
		max-height: 95%;
		background:url(../images/wrap_bg.jpg);
		cursor: auto;
		white-space: normal;
		width:70%;
	}

	.featherlight .featherlight-inner {
		display: block;
	}

	.featherlight .featherlight-close-icon {
		position: absolute;
		z-index: 9999;
		top: 0;
		right: 0;
		line-height: 35px;
		width: 35px;
		cursor: pointer;
		text-align: center;
		font-family: Arial,sans-serif;
		background: #fff;
		background: rgba(255,255,255,.3);
		color: #4d7484;
		font-size:35px;
		border: 0;
		padding: 0;
	}

	.featherlight .featherlight-close-icon::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	.featherlight .featherlight-image {
		width: 100%;
	}

	.featherlight-iframe .featherlight-content {
		border-bottom: 0;
		padding: 0;
		-webkit-overflow-scrolling: touch;
		overflow-y: auto;
	}

	.featherlight iframe {
		border: 0;
		overflow:auto;
	}

	.featherlight * {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
.light .content{
	width:80%;
	margin:0 auto;
}
.lightbox h2{
	color:#1f9051;
	font-size:1.8em;
	line-height:1.2em;
	font-weight:bold;
	padding-bottom:2em;
}
.lightbox h2 span{
	color:#000;
	font-size:0.5em;
}

#fl1 p, #fl2 p{
	color:#000;
	font-size:0.85em;
	padding-bottom:1.5em;
}
.lightbox p span{
	color:#008ac2;
}
@media only screen and (max-width:1024px) {
	.featherlight .featherlight-content {
		margin-left: 0;
		margin-right: 0;
		max-height: 98%;
		padding: 10px 10px 0;
		border-bottom: 10px solid transparent;
	}
}

@media all {
	.lightbox {
		display: none;
	}

	.fl-page h1, .fl-page h3, .fl-page h4 {
		font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
		font-weight: 100;
		letter-spacing: 1px;
	}

	.fl-page h1 {
		font-size: 110px;
		margin-bottom: 0.5em;
	}

	.fl-page h1 i {
		font-style: normal;
		color: #ddd;
	}

	.fl-page h1 span {
		font-size: 30px;
		color: #333;
	}

	.fl-page h3 {
		text-align: right;
	}

	.fl-page h3 {
		font-size: 15px;
	}

	.fl-page h4 {
		font-size: 2em;
	}

	.fl-page .jumbotron {
		margin-top: 2em;
	}

	.fl-page .doc {
		margin: 2em 0;
	}

	.fl-page .btn-download {
		float: right;
	}

	.fl-page .btn-default {
		vertical-align: bottom;
	}

	.fl-page .btn-lg span {
		font-size: 0.7em;
	}

	.fl-page .footer {
		margin-top: 3em;
		color: #aaa;
		font-size: 0.9em;
	}

	.fl-page .footer a {
		color: #999;
		text-decoration: none;
		margin-right: 0.75em;
	}

	.fl-page .github {
		margin: 2em 0;
	}

	.fl-page .github a {
		vertical-align: top;
	}

	.fl-page .marketing a {
		color: #999;
	}

	.fixwidth {
		background: rgba(256,256,256, 0.8);
	}

	.fixwidth .featherlight-content {
		width: 500px;
		padding: 25px;
		color: #fff;
		background: #111;
	}

	.fixwidth .featherlight-close {
		color: #fff;
		background: #333;
	}
}

@media(max-width: 768px) {
	.fl-page h1 span {
		display: block;
	}

	.fl-page .btn-download {
		float: none;
		margin-bottom: 1em;
	}
}

#fl1 table{
	width:88%;
	margin:0 auto;
	border-collapse:collapse;
	border:2px solid #1f9051;
	font-weight:bold;
	
}
#fl1 table th{
	background:#1f9051;
	color:#fff;
	font-size:1.5em;
	line-height:2em;
	text-align:center;
}

#fl1 table td{
	color:#1f9051;
	font-size:1.5em;
	text-align:center;
	border:2px solid #1f9051;
	padding:1em;
	line-height:1.5em;
}


#fl1, #fl2{
	/* padding-left: 4.85em; */
	margin: 0 auto;
	width: 90%;
	font-size: 1.24em;
	/* text-indent: -4.85em; */
	line-height: 1.75em;
}
@media(min-width: 320px) and (max-width: 979px){
	#fl1 table{
	width:90%;
	margin:0 auto;
	border-collapse:collapse;
	border:2px solid #1f9051;
	font-weight:bold;
	
}
#fl1 table th{
	background:#1f9051;
	color:#fff;
	font-size:1.2em;
	line-height:2em;
	text-align:center;
}

#fl1 table td{
	color:#1f9051;
	font-size:1em;
	text-align:center;
	border:2px solid #1f9051;
	padding:1em;
	line-height:1.5em;
}


#fl1, #fl2{
	/* padding-left: 4.85em; */
	margin: 0 auto;
	width: 90%;
	font-size: 1em;
	/* text-indent: -4.85em; */
	line-height: 1.75em;
}
}
@media screen and (min-width:0\0) {
	,#fl1 h2,#fl2 h2 {
		margin-left: 3em;
	}
}

#fl11 {
	width: 880px;
}