@charset "utf-8";
/* CSS Document */
/*小幫手-PDF顯示區域*/
.company_info{
    text-align:center; 
    color:#333; 
    margin:12px 0px; 
    font-size:17px;
}
.mailicon{
   box-shadow:none; 
   width:30px; 
   height:20px;
}
.in_line{
   border-bottom:2px solid #999;
}
.btn_site{
   margin: 5px 0px;
   text-align: center;
}
#all .btn_site input{
   background-color:#0080FF;
   color: #fff;
}
/*麵包屑*/
.item{
   font-size: 18pt;
   border-left: 20px solid #C6F249;
   padding: .2em .5em;
   margin-bottom: .5em;
   font-weight: bold;
   color:#000;
} 
/*PDF輪播*/
.pdf-viewer{
   top:50px !important;
   height: 820px !important;
   border: 2px solid #000;
}
.touchPDF > .pdf-outerdiv > .pdf-toolbar > .pdf-button{
   color: #333;
   background-color: #ddd;
   margin-left:10px;
}
.touchPDF > .pdf-outerdiv > .pdf-toolbar > .pdf-button button{
   color: #333;
   line-height:0px;
   height:30px;
   font-size:24px;
   padding-bottom: 5px;
   padding-top: 5px;
}
.touchPDF > .pdf-outerdiv > .pdf-toolbar > .pdf-button >.pdf-page-count{
   background-color: #fff;
   font-size: 24px;
}
/*切換他頁按鈕*/
.page-nav{
/*background-color: #eee;*/
   width: 90%;
   margin: 0 auto;
}
.page-nav a{
   line-height:40px;
   text-align:center;            
   transition: all 0.3s ease;
   color:#000;            
   text-decoration: none;
   font-weight: 700;
}
.page-nav_btn{
   width: 100%;
   max-width: 500px;
   height: 100%;
   max-height: 90px;
   background-color: #B7E38B;
   padding: 10px;
}
.page-nav_btn:hover{
   background-color: #97C46B;
}
.align_r{
   display: inline-block;
   float: right;
}
.align_r span{
   margin-left:6px;
}
.text_line{
   line-height: 22px;
}
.align_l{
   display: inline-block;
   float: left;
}
.align_l span{
   margin-right:6px;
}
.text_ellipsis{
   width: 380px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   line-height: 22px;
}
.main_css{
   font-size:18px !important;
   margin-bottom: 10px;
   font-weight:bold;
   color: #333;
}
.download_btn{
   background-color: #ddd;
}
.download_btn:hover{
   background-color: #bbb;
}
.askqa_btn{
   background-color: #FF0000 !important;
   color:#fff;
}
/*游標方向標籤*/
/*
.direction_btn{
   display: inline-block;
   width:250px;
   height:90px;
   text-align:center;
   background:#B7E38B;
   position:relative;
   border: solid 1px #B7E38B;
   margin:30px;
   padding:30px;
}
.direction_arrow{
   width:0px;
   height:0px;
   border-width:45px;
   border-style:solid;
   position:absolute;
   top:-1%;
}
.arrow_left{
   border-color: transparent #B7E38B transparent transparent;
   left:-90px;
}
.arrow_left:hover{
   border-color: transparent #589B16 transparent transparent;
}
.arrow_right{
   border-color:transparent transparent transparent #B7E38B;
   right:-90px;
}
*/




