$deft: 'Graphik Medium', '微軟正黑體', '新細明體', Arial, Helvetica, sans-serif;
$sm: 568px; // 568px
$md: 768px; // 768px
$lg: 1024px; // 1024px
$xl: 1200px; // 1200px

* {
    font-family: '微軟正黑體';
}

.e_main {
    position: relative;
    margin: 0 auto;
    width: 100%;
    // background: #081e30 url('img/bk01.gif') repeat-y top center;
    background: #03182d url('img/footer_bg.jpg') no-repeat center bottom;

    > h1 {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 1400px;

        > img {
            width: 100%;
        }
    }
}

.e_box {
    position: relative;
    margin: 0 auto 0;
    width: 100%;
    max-width: 1200px;

    .e_bg {
        width: 100%;
        margin: 0 auto;
        padding: 25px 0 50px 0;

        img {
            width: 60%;
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }
    }

    .e_tb01 {
        text-align: center;

        ul {
            width: 49%;
            display: inline-block;
            list-style: none;
            padding: 0;
            margin: 0;
            vertical-align: top;
            font-weight: bold;

            &.e_u01 {
                >li {
                    background: #afd4fc;

                    &:hover {
                        background: #8ac2ff;
                    }

                    &.e_th01 {
                        background: #0f79c3;
                        color: #fff;
                        padding: 20px 0;
                        font-size: 150%;
                        @media(max-width: $sm) {
                    font-size: 100%;
        }
                    }
                }
            }

            &.e_u02 {
                >li {
                    background: #cbeaaa;

                    &:hover {
                        background: #cefc9d;
                    }

                    &.e_th02 {
                        background: #18a63f;
                        color: #fff;
                        padding: 20px 0;
                        font-size: 150%;
                        @media(max-width: $sm) {
                    font-size: 100%;
        }
                    }
                }
            }

            >li {
                display: block;

                a {
                    padding: 1px 0;
                    text-align: center;
                    margin: 5px 0;
                    font-size: 120%;
                    line-height: 1.1em;
                    display: block;
                    vertical-align: middle;
                    @media(max-width: $sm) {
                    font-size: 90%;
        }
                    img {
                        vertical-align: middle;
                        display: inline-block;
                        margin: 0;
                    }

                    p {
                        vertical-align: middle;
                        display: inline-block;
                        margin: 0;
    padding: 0;
    width: 97%;

                        span {
                            font-size: 70%;
                            font-weight: normal;
                                line-height: 1;
                        }
                    }
                }
            }
        }
        .e_note{
            width:100%;
font-size: 70%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding-bottom: 40px;

            p{
                width:48%;
                line-height:1.5em;
                display:inline-block;
                color:#fff;
                margin:0;
                vertical-align:top;
                text-align:left;
                padding:0 0 0 15px;

                        @media(max-width: $sm) {
                width:100%;
        }
            }
        }


    }









    .e_plan01 {
        width: 100%;
        position: relative;
        padding-bottom: 30px;

        @media(max-width: $sm) {
            padding-bottom: 0px; /**/
            margin-top: 30px;
        }

        .e_tap {
            width: 100%;
            position: relative;
            display: block;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 70%;
                left: 0;
                bottom: 0;
                background-color: #afd5fe;
            }

            > h2 {
                position: relative;
                background: #007ac5;
                border-top-left-radius: 12px;
                border-top-right-radius: 30px;
                padding: 15px 36px 15px 30px;
                color: #fff;
                font-size: 170%;
                font-style: italic;
                vertical-align: bottom;
                display: inline-block;
                margin: 0;
                z-index: 1;

                @media(max-width: $sm) {
                    width: 100%;
                    font-size: 160%;
                }
            }

            > h3 {
                position: relative;
                color: #fff;
                font-size: 110%;
                display: inline-block;
                vertical-align: bottom;
                color: #ed0000;
                margin: 0;
                padding: 5px 5px 10px 15px;
                z-index: 2;
                font-style: italic;

                @media(max-width: $sm) {
                    width: 100%;
                    font-size: 120%;
                    padding: 9px 5px 0px 27px;
                }
            }
        }

        .e_note {
            position: relative;
            width: 100%;
            border: #afd5fe 4px solid;
            border-top: 0;
            box-sizing: border-box;
            background: #fff;
            padding-bottom: 3%;

            @media(max-width: $sm) {
                border: #afd5fe 10px solid;
                padding-bottom: 4%;
            }

            > h4 {
                width: 88%;
                margin: 0 auto 1%;
                text-align: center;
                color: #555;
                font-size: 90%;
                font-weight: normal;
                line-height: 1.7em;
                padding: 4% 0 2% 0;

                @media(max-width: $sm) {
    width: 90%;
    font-size: 80%;
    padding: 7% 0 4% 0;

                }
            }

            > p {
                width: 88%;
                color: #555;
                font-size: 90%;
                font-weight: normal;
                line-height: 1.7em;
                margin: 0 auto;

                @media(max-width: $sm) {
                    font-size: 70%;
                }
            }

            > img {
                width: 100%;
                display: block;
                margin: 0;
                padding-top: 0;
            }

            h6 {
                width: 100%;
                margin: 0 auto 1%;
                text-align: center;
                color: #012792;
                font-size: 190%;
                font-weight: bold;
                line-height: 1.3em;
                padding: 3% 0 2% 0;

                @media(max-width: $sm) {
                    width: 80%;
                    font-size: 120%;
                    padding: 7% 0 5% 0;
                }
            }
        }
    }
}

.e_plan02 {
    width: 100%;
    position: relative;
    padding-bottom: 30px;

    @media(max-width: $sm) {
        padding-bottom: 0px; /**/
        margin-top: 30px;
    }


    .e_tap02 {
        width: 100%;
        position: relative;
        display: block;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 70%;
            left: 0;
            bottom: 0;
            background-color: #cceaa4;
        }

        > h2 {
            position: relative;
            background: #26a534;
            border-top-left-radius: 12px;
            border-top-right-radius: 30px;
            padding: 15px 36px 15px 30px;
            color: #fff;
            font-size: 170%;
            font-style: italic;
            vertical-align: bottom;
            display: inline-block;
            margin: 0;
            z-index: 1;

            @media(max-width: $sm) {
                width: 100%;
                font-size: 160%;
            }
        }

        > h3 {
            position: relative;
            color: #fff;
            font-size: 110%;
            display: inline-block;
            vertical-align: bottom;
            color: #ed0000;
            margin: 0;
            padding: 5px 5px 10px 15px;
            z-index: 2;
            font-style: italic;

            @media(max-width: $sm) {
                width: 100%;
                font-size: 120%;
                padding: 9px 5px 0 27px;
            }
        }
    }

    .e_note02 {
        position: relative;
        width: 100%;
        border: #cceaa4 4px solid;
        border-top: 0;
        box-sizing: border-box;
        background: #fff;
        padding-bottom: 3%;

        @media(max-width: $sm) {
            border: #cceaa4 10px solid;
            padding-bottom: 4%;
        }

        > h6 {
            width: 88%;
            margin: 0 auto;
            text-align: left;
            color: #555;
            font-size: 90%;
            font-weight: normal;
            line-height: 1.7em;
            padding: 1% 0;

            @media(max-width: $sm) {
                width: 86%;
                font-size: 90%;
                line-height: 2em;
            }
        }

        > p {
            width: 88%;
            color: #555;
            font-size: 90%;
            font-weight: normal;
            line-height: 1.7em;
            margin: 0 auto;

            @media(max-width: $sm) {
                font-size: 70%;
            }
        }

        > img {
            width: 100%;
            display: block;
            margin: 0;
            padding-top: 0;
        }

        > h4 {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            color: #012792;
            font-size: 180%;
            font-weight: bold;
            line-height: 1.3em;
            padding: 4% 0 1% 0;

            @media(max-width: $sm) {
                width: 80%;
                font-size: 110%;
                padding: 7% 0 4% 0;
            }
        }

        > span {
            width: 100%;
            display: inline-block;
            margin: 0 auto;
            text-align: center;
            color: #fa6c20;
            font-size: 95%;
            font-weight: bold;
            line-height: 1em;
            padding-bottom: 2%;

            @media(max-width: $sm) {
                width: 80%;
                font-size: 100%;
                margin: 0 auto;
                display: block;
                line-height: 1.5em;
            }
        }

        > ul {
            width: 80%;
            margin: 0 auto 1%;
            padding: 2% 0 1% 0;

            @media(max-width: $sm) {
                padding: 5% 0 3% 0;
            }

            > li {
                position: relative;
                text-align: left;
                color: #555;
                font-size: 90%;
                font-weight: normal;
                line-height: 2em;
                list-style: none;
                padding-left: 30px;

                @media(max-width: $sm) {
                    font-size: 80%;
                    padding-left: 18px;
                    line-height: 1.8em;
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 10px;
                    background-color: #26a534;
                    top: 12px;
                    left: 0;

                    @media(max-width: $sm) {
                        content: '';
                        position: absolute;
                        width: 7px;
                        height: 7px;
                        border-radius: 10px;
                        background-color: #26a534;
                        top: 9px;
                        left: 0;
                    }
                }
            }
        }
        // 方案九條列
        .section09 {
            width: 80%;
            display: block;
            margin: 0 auto;

            @media(max-width: $sm) {
                padding-bottom: 4%;
            }

            > h5 {
                width: 100%;
                margin: 0 auto;
                text-align: left;
                color: #26a534;
                font-size: 105%;
                font-weight: bold;
                line-height: 1em;
                padding: 1% 0;

                @media(max-width: $sm) {
                    font-size: 100%;
                    line-height: 1.5em;
                    padding: 3% 0;
                }
            }

            > p {
                width: 100%;
                color: #555;
                font-size: 90%;
                font-weight: normal;
                line-height: 1.7em;
                margin: 0 auto;
                padding: 1% 0;


                @media(max-width: $sm) {
                    font-size: 80%;
                    padding: 2% 0;
                }
            }

            > ul {
                width: 100%;
                margin: 0 auto 1%;

                > li {
                    position: relative;
                    text-align: left;
                    color: #555;
                    font-size: 90%;
                    font-weight: normal;
                    line-height: 2em;
                    list-style: none;
                    padding-left: 30px;

                    @media(max-width: $sm) {
                        padding-left: 18px;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        border-radius: 10px;
                        background-color: #26a534;
                        top: 12px;
                        left: 0;
                    }
                }
            }
        }



        .e_row {
            width: 85%;
            margin: 0 auto;
            text-align: center;
            padding-top: 2%;

            .row {
                display: block;
                text-align: left;

                @media(max-width: $sm) {
                    text-align: center;
                }

                [class*="col"] {
                    display: inline-block;
                    padding: 1%;

                    @media(max-width: $sm) {
                        width: 88%;
                        text-align: center;
                        font-size: 80%;
                        padding: 2% 0;
                    }

                    span {
                        width: 100%;
                        display: block;
                        color: #fff;
                        background-color: #26a534;
                        padding: 7px 50px;
                        border-radius: 10px;
                        text-shadow: black 0.1em 0.1em 0.3em;
                    }
                }

                .title {
                    width: 25%;
                    display: inline-block;
                    vertical-align: middle;
                    text-align: center;

                    @media(max-width: $sm) {
                        width: 100%;
                        text-align: center;
                        font-size: 100%;
                        padding: 2% 0;
                    }
                }

                .text {
                    width: 74%;
                    display: inline-block;
                    vertical-align: middle;

                    @media(max-width: $sm) {
                        width: 88%;
                        text-align: center;
                        font-size: 70%;
                    }
                }
            }
        }
    }


    &:last-child {
        padding: 0;
    }
}

.e_table01 {
    width: 88%;
    margin: 0 auto;
    padding-bottom: 40px;

    @media(max-width: $sm) {
        padding: 5px 0 20px 0;
    }

    > h5 {
        display: inline-block;
        width: 25%;
        margin: 0 15px 0 0;
        background: #007ac5;
        color: #fff;
        padding: 15px 20px;
        border-radius: 10px;
        text-align: center;
        font-size: 110%;
        vertical-align: top;
        text-shadow: #555 0.1em 0.1em 0.3em;


        @media(max-width: $sm) {
            padding: 12px 20px;
            width: 100%;
            padding: 12px 20px;
            font-size: 120%;
            margin-bottom: 4%;
        }
    }
}

.e_table02 {
    width: 88%;
    margin: 0 auto;
    padding-bottom: 40px;
    text-align: center;


    @media(max-width: $sm) {
        padding: 5px 0 20px 0;
        font-size: 80%;
    }

    > h5 {
        display: inline-block;
        width: 25%;
        margin: 0 15px 0 0;
        background: #26a534;
        color: #fff;
        padding: 15px 20px;
        border-radius: 10px;
        text-align: center;
        font-size: 110%;
        vertical-align: top;

        @media(max-width: $sm) {
            padding: 12px 20px;
            width: 100%;
            padding: 12px 20px;
            font-size: 120%;
            margin-bottom: 4%;
        }
    }
}

/*
有線的表格---藍色，方案說明/價格
*/
table.line01 {
    width: 71%;
    vertical-align: top;
    display: inline-table;

    @media(max-width: $sm) {
        width: 100%;
        font-size: 80%;
        padding: 14px 3px;
    }

    th {
        border: 2px solid #187bbf;
        font-weight: bold;
        /*text-align: center;*/
        padding: 14px 3px;
        background-color: #afd5fb;
        color: #333;
        font-size: 100%;
        text-align: center;
    }

    tr {
        border: 0px;
        padding: 0px;
    }

    td {
        border: 2px solid #187bbf;
        padding: 15px 8px;
        text-align: center;
        font-size: 90%;
    }

    .br_mobile {
        display: none;

        @media(max-width: $sm) {
            display: block;
        }
    }
}

/*
有線的表格---綠色，方案說明/價格
*/
table.line02 {
    width: 71%;
    display: inline-table;
    vertical-align: top;

    @media(max-width: $sm) {
        width: 100%;
        font-size: 100%;
        padding: 14px 3px;
    }


    th {
        border: 2px solid #26a534;
        font-weight: bold;
        /*text-align: center;*/
        padding: 14px 3px;
        background-color: #cceaa4;
        color: #333;
        font-size: 100%;
        text-align: center;
    }

    tr {
        border: 0px;
        padding: 0px;
    }

    td {
        border: 2px solid #26a534;
        padding: 15px 8px;
        text-align: center;
        font-size: 90%;

        @media(max-width: $sm) {
            padding: 10px 2px;
        }
    }
}


/*
有線的表格---綠色-方案七
*/
table.line04 {
    width: 100%;
    display: inline-table;
    vertical-align: top;

    @media(max-width: $sm) {
        width: 100%;
    }
    tbody{
            display: inline-table;
    width: 100%;

    }
    th {
        border: 2px solid #26a534;
        font-weight: bold;
        /*text-align: center;*/
        padding: 14px 3px;
        background-color: #cceaa4;
        color: #333;
        font-size: 100%;
        text-align: center;

        @media(max-width: $sm) {
            font-size: 90%;
        }
    }

    tr {
        border: 0px;
        padding: 0px;
    }

    td {
        border: 2px solid #26a534;
        padding: 15px 8px;
        text-align: left;
        font-size: 90%;

        @media(max-width: $sm) {
            font-size: 70%;
        }

        > ul {
    margin: 0 0 0 20px;
            padding: 0 5px;


            li {
                text-align: left;
            }
        }
    }

    .pc {
        // display: block;
        @media(max-width: $md) {
            display: none;
        }
    }
}

.mobile {
    display: none !important;

    @media(max-width: $sm) {
        display: block !important;
    }
}

/*
有線的表格---綠色-方案八表格一
*/
table.line03 {
    width: 100%;
    // display: inline-table;
    vertical-align: top;
    margin-top: 1%;

    th {
        width: 50%;
        border: 2px solid #26a534;
        font-weight: bold;
        /*text-align: center;*/
        padding: 14px 3px;
        background-color: #cceaa4;
        color: #333;
        font-size: 100%;
        text-align: center;
    }

    tr {
        border: 0px;
        padding: 0px;
    }

    td {
        width: 50%;
        border: 2px solid #26a534;
        padding: 10px 8px;
        text-align: center;
        font-size: 90%;
        vertical-align: top;

        > ul {
            margin: 0;
            padding: 5px 0;

            li {
                position: relative;
                text-align: left;
                padding: 7px 5px 7px 40px;
                list-style: none;

                @media(max-width: $sm) {
                    padding: 7px 0px 7px 12px;
                }


                &::before {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 10px;
                    background-color: #26a534;
                    top: 16px;
                    left: 14px;

                    @media(max-width: $sm) {
                        content: '';
                        position: absolute;
                        width: 7px;
                        height: 7px;
                        border-radius: 10px;
                        background-color: #26a534;
                        top: 13px;
                        left: 2px;
                    }
                }
            }
        }
    }
}

/*
有線的表格---綠色-方案九
*/
table.line05 {
    width: 100%;
    // display: inline-table;
    vertical-align: top;

    th {
        border: 2px solid #26a534;
        font-weight: bold;
        /*text-align: center;*/
        padding: 14px 3px;
        background-color: #cceaa4;
        color: #333;
        font-size: 100%;
        text-align: center;

        @media(max-width: $sm) {
            padding: 8px 2px;
            font-size: 80%;
        }
    }

    tr {
        border: 0px;
        padding: 0px;
    }

    td {
        border: 2px solid #26a534;
        padding: 20px 8px;
        text-align: center;
        font-size: 90%;

        @media(max-width: $sm) {
            padding: 10px 3px;
        }


        &:first-child {
            font-weight: bold;
        }

        > ul {
            margin: 0;
            list-style-position: inside;
            padding: 0 10px;


            > li {
                position: relative;
                text-align: left;
                list-style: none;
                padding-left: 35px;

                @media(max-width: $sm) {
                    padding-left: 12px;
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 10px;
                    background-color: #26a534;
                    top: 9px;
                    left: 12px;

                    @media(max-width: $sm) {
                        content: '';
                        position: absolute;
                        width: 7px;
                        height: 7px;
                        border-radius: 10px;
                        background-color: #26a534;
                        top: 6px;
                        left: 2px;
                    }
                }
            }
        }
    }
}

/*
有線的表格---方案十
*/
table.line10 {
    width: 88%;
    vertical-align: top;
    margin: 5% auto 3%;

    tr {
        padding: 0px;
        height: 75px;
        box-sizing: border-box;
        border: 2px solid #fa6c20;
    }

    th {
        width: 15%;
        font-weight: bold;
        padding: 14px 3px;
        background-color: #cceaa4;
        color: #333;
        font-size: 110%;
        text-align: center;

        @media(max-width: $sm) {
            width: 20%;
            padding: 0px 2px;
            font-size: 70%;
        }
    }

    td {
        padding: 15px 15px;
        text-align: left;
        font-size: 90%;

        @media(max-width: $sm) {
            padding: 0px 2px;
            font-size: 70%;
        }

        > span {
            font-weight: bold;
        }

        > p {
            color: #ed0000;
            font-size: 90%;
            margin: 0;
        }
    }
}




.e_pc {
    display: block !important;

    @media(max-width: $md) {
        display: none !important;
    }
}

.e_mobile {
    display: none !important;

    @media(min-width: $md) {
        display: block !important;
    }
}

.go_top {
    position: fixed;
    margin: 0 auto;
    bottom: 14%;
    left: 0;
    z-index: 999;
    width: 100%;
    right: 0;
    pointer-events: none;
    .go_box {
        position: relative;
        max-width: 1300px;
        margin: 0 auto;
        text-align: right;

        a {
            position: relative;
            z-index: 999;
            width: 5%;
                pointer-events:  all;

            img {
                    width:5%;;

                @media(max-width: $md) {
                        width: 10%;;
                }
            }
        }
    }
}

.top1 {
    position: relative;
    top: 0;
    left: 0;
}
.na,.header{
    position:relative;
    width:100%;
}